/* Place CSS styles here */
.good {
    display: flex;
}
.gold-pineapple-logo {
    max-width: 90px;
  }
@media (max-width: 480px) {
  .gold-pineapple-header {
    flex-direction: column;
    gap: 10px;
  }
}

.gold-pineapple-logo {
  max-width: 90px;
}

@media (max-width: 480px) {
  .aqua-turtle-main {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.gold-pineapple-hero {
  min-height: 100vh;
  display: flex;
  width: 50%;
}

@media (max-width: 480px) {
  .orange-ferret-featured-item-image-wrapper {
    width: 100%
  }
}


.orange-ferret-featured-item-content {
  width: 50%;
}

@media (max-width: 480px) {
  .orange-ferret-featured-item-content {
    width: 100%
  }
}

.orange-ferret-featured-item {
  max-width: 800px;
  margin-left: auto;
  gap: 30px;
}

@media (max-width: 480px) {
  .orange-ferret-featured-item {
    flex-direction: column;
    gap: 10px;
  }
}

.orange-ferret-featured-item-quantity-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.aqua-turtle-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media (max-width: 480px) {
  .aqua-turtle-grid-container {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.aqua-turtle-flex-container {
  display: flex;
  gap: 20px;
}

@media (max-width: 480px) {
  .aqua-turtle-flex-container {
    flex-direction: column;
    gap: 10px;
  }
}

.aqua-turtle-column-container {
  column-count: 3;
  column-gap: 10px;
}
    
@media (max-width: 480px) {
  .aqua-turtle-column-container {
   column-count: 1;
   column-gap: 0;
  }
}